---
import BaseLayout from "../layouts/BaseLayout.astro";
import { thumbnails } from "../data/thumbnails";

let startIndex = Math.floor(Math.random() * thumbnails.length);
---

<BaseLayout backgroundColour="#000000">
  <div id="viewer" data-start-index={startIndex}>
    <img id="current-image" src={thumbnails[startIndex].filename[0]} />
    <video loop id="current-video" playsinline>
      <source src="" type="video/webm" id="vid-source" />
    </video>
  </div>
</BaseLayout>

<script>
  import { initScript } from "../scripts/thumbnails.ts";
  initScript();
</script>

<style>
  #viewer {
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: black;
  }

  #current-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #current-video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
