---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  backgroundColour?: string;
}

const {
  title = "Graham",
  description = "Portfolio of design",
  backgroundColour,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon64.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon128.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon256.png" />
    <link rel="apple-touch-icon" href="/favicon256.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <Nav /> -->
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>

<style define:vars={{ backgroundColour }}>
  body {
    background-color: var(--backgroundColour, var(--color-bg));
  }
</style>
